.slider-container {
    width: 300px;
    height: 400px;
    /* margin: 0 auto; */
    overflow: hidden; /* Hide overflow to create ticker effect */
  }
  
  .slick-slide {
    height: 100%;
  }
  
  .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #f0f0f0; /* Optional: background color for slides */
    border-bottom: 1px solid #ddd; /* Optional: border for slides */
  }
  
  .slide img {
    width: 100%;
    height: auto; /* Ensure images are responsive */
  }
  